.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-layout-header {
  color: #efefef !important;
}
.field {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.error-message {
  color:#f81d22 !important
}
.action-icon{
  cursor: pointer;
}
.experience-item {
  margin-bottom: 5px !important;
}

.ant-form-item-label > label {
  width: 100px;
}